@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Navigation */

nav {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav .container {
    background-color: #1a1a1a;

    display: flex;
    flex-direction: column;

    position: absolute;
    /* Need z-index as well, to show above other absolute positioned items */
    z-index: 3;
    top: 100%;
    width: 100%;
    transition: opacity 0.3s ease-out;
}

nav .hide {
    opacity: 0;
    height: 0;
    /* Set visibility as well to not interfere with other elements like buttons */
    visibility: hidden;
}

nav button {
    border: none;
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px;
}

nav .container button:hover {
    background-color: #303030;
}

@media (min-width: 768px) {
    nav .container {
        position: static;
        flex-direction: row;
        justify-content: center;
    }

    nav .hide {
        opacity: 1;
        height: 100%;
        visibility: visible;
    }

    #event-button {
        display: none;
    }

}

/* Image Carousel */

.carousel {
    position: relative;
    /* padding: 30px; */
    background-color: #ede9e9;
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 20px;
}

.box {
    position: relative;
    flex: 1 0 auto;
    height: auto;
    /* border: #1a1a1a solid 1px; */
}

.box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

img {
    position: absolute;
    object-fit: contain;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
}

.rl-button {
    position: absolute;
    border-radius: 50%;
    width: 3%;
    height: 15%;
    top: 45%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.right {
    left: 95%;
}

.left {
    left: 2%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

@media (min-width:1500px) {
    .arrow {
        padding: 5px;
    }
}

@media (max-width:600px) {
    .arrow {
        border-width: 0 1px 1px 0;
        padding: 0.8px;
    }
}

.point-right {
    transform: rotate(-45deg);
}

.point-left {
    transform: rotate(135deg);
}

.bottom-buttons {
    position: absolute;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 0.8em;
}

.bottom-buttons button {
    border-radius: 50%;
    width: 3%;
    aspect-ratio: 1;
}